*{
  margin: 0;
	padding: 0;
}

header { 
    background-color: rgba(175, 165, 202, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    /* font-family: "Italic"; */
    font-size: 3vh;
  }

.logo{
  position: relative;
  width: 20vh;
  height: 15vh;
  margin-right: 0;
}

h1{
  padding: 5vh;
  font-family: "Italic";
  font-weight: 100;
}


